{% extends 'base/main_layout.html' %}
{% load extract_tags %}
{% load static %}

{% block content %}
  {% main_title text="Template Tag Guide" className="mb-0" %}

  <div class="row">
    <div class="col-4">
      <div class="card p-2 h-100 shadow-none border">
        <div class="rounded-2 text-center mb-4">
          <a href="{% url '_Extract_Tag:title' %}"
            ><img
              class="img-fluid"
              src="{% static 'img/guide/list_guide/title.png' %}"
              alt="tutor image 1"
          /></a>
        </div>
        <div class="card-body p-4 pt-2">
          <a href="app-academy-course-details.html" class="h5">Title</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}