<div class="modal fade" id="{{ id }}" tabindex="-1" aria-hidden="true" data-bs-backdrop="{{ backdrop }}">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel1">{{ title }}</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {% if template_name %}
          {% include template_name %}
        {% endif %}
      </div>
    </div>
  </div>
</div>