{% extends 'base/main_layout.html' %}
{% load extract_tags %}

{% block breadcrumbs %}
  {% breadcrumb breadcrumb_list=breadcrumb_data %}
{% endblock %}

{% block content %}
  {% main_title value="Breadcrumbs" className="mb-3" %}

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Breadcrumb</h5>
      <h6 class="card-subtitle mb-3">Hiển thị luồng đi của page</h6>
      <div class="nav-align-top nav-tabs-shadow">
        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item">
            <button
              type="button"
              class="nav-link active"
              role="tab"
              data-bs-toggle="tab"
              data-bs-target="#navs-breadcrumbs-demo"
              aria-controls="navs-breadcrumbs-demo"
              aria-selected="true">
              Demo
            </button>
          </li>
          <li class="nav-item">
            <button
              type="button"
              class="nav-link"
              role="tab"
              data-bs-toggle="tab"
              data-bs-target="#navs-breadcrumbs-be"
              aria-controls="navs-breadcrumbs-be"
              aria-selected="false">
              BE
            </button>
          </li>
          <li class="nav-item">
            <button
              type="button"
              class="nav-link"
              role="tab"
              data-bs-toggle="tab"
              data-bs-target="#navs-breadcrumbs-fe"
              aria-controls="navs-breadcrumbs-fe"
              aria-selected="false">
              FE
            </button>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane show active" id="navs-breadcrumbs-demo" role="tabpanel">
            {% breadcrumb breadcrumb_list=breadcrumb_data %}
          </div>
          <div class="tab-pane" id="navs-breadcrumbs-be" role="tabpanel">
            <p class="mb-0">Mẫu data truyền vào option <code>breadcrumb_list</code>:</p>
            <pre class="chroma rounded mb-0">
              <code class="language-python" data-lang="python">
breadcrumb_data = [
    {
      'label': 'Home',
      'url': reverse("Screen:home")
    },
    {
      'label': 'Template Tags Guide',
      'url': reverse("_Extract_Tag:list_guide")
    },
    {
      'label': 'Breadcrumbs'
    }
]
              </code>
            </pre>

            <p>Mô tả cho data</p>
            <table class="table table-bordered">
              <tr class="text-nowrap">
                <th>Name data</th>
                <th>Description</th>
                <th>Type Data</th>
                <th>Example</th>
                <th style="width: 450px;">Lưu ý</th>
              </tr>
              <tr>
                <td>label</td>
                <td>Nội dung text hiển thị của mỗi item Breadcrumbs</td>
                <td>text</td>
                <td><code>'label': 'Home'</code></td>
              </tr>
              <tr>
                <td>url</td>
                <td>Truyền vào URL muốn điều hướng</td>
                <td>URL text</td>
                <td>
                  <code class="text-nowrap">'url': reverse("Screen:home")</code>
                </td>
                <td>
                  <ul>
                    <li>
                      Cần import plugin <code>reverse</code> để render URL sang HTML đúng chuẩn <br/>
                      <code>from django.urls import reverse</code>
                    </li>
                    <li>
                      Khi không truyền <code>url</code> default item đó được active. Khi active thì 
                      không click và điều hướng sang page khác được.
                    </li>
                  </ul>
                </td>
              </tr>
            </table>
          </div>
          <div class="tab-pane" id="navs-breadcrumbs-fe" role="tabpanel">
            <p class="mb-0">Tại trang HTML import:</p>
            <pre class="chroma rounded mb-0">
              <code class="language-html" data-lang="html">
{<span></span>% breadcrumb breadcrumb_list=breadcrumb_data %<span></span>}
              </code>
            </pre>

            <p>Option List</p>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Description</th>
                  <th>Type data</th>
                  <th>Example</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>breadcrumb_list</td>
                  <td>List data item breadcrumbs. Xem format data ở Tab BE</td>
                  <td>list</td>
                  <td><code>breadcrumb_list=breadcrumb_data</code></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}