        <aside id="layout-menu" class="layout-menu menu-vertical menu">
          <div class="app-brand demo">
            <a href="index.html" class="app-brand-link">
              <span class="app-brand-logo demo">
                <span class="text-primary">
                  <svg width="32" height="22" viewBox="0 0 32 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M0.00172773 0V6.85398C0.00172773 6.85398 -0.133178 9.01207 1.98092 10.8388L13.6912 21.9964L19.7809 21.9181L18.8042 9.88248L16.4951 7.17289L9.23799 0H0.00172773Z"
                      fill="currentColor" />
                    <path
                      opacity="0.06"
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M7.69824 16.4364L12.5199 3.23696L16.5541 7.25596L7.69824 16.4364Z"
                      fill="#161616" />
                    <path
                      opacity="0.06"
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M8.07751 15.9175L13.9419 4.63989L16.5849 7.28475L8.07751 15.9175Z"
                      fill="#161616" />
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M7.77295 16.3566L23.6563 0H32V6.88383C32 6.88383 31.8262 9.17836 30.6591 10.4057L19.7824 22H13.6938L7.77295 16.3566Z"
                      fill="currentColor" />
                  </svg>
                </span>
              </span>
              <span class="app-brand-text demo menu-text fw-bold ms-3">Vuexy</span>
            </a>

            <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto">
              <i class="icon-base ti menu-toggle-icon d-none d-xl-block"></i>
              <i class="icon-base ti tabler-x d-block d-xl-none"></i>
            </a>
          </div>

          <div class="menu-inner-shadow"></div>

          <ul class="menu-inner py-1">

          </ul>
        </aside>

        <div class="menu-mobile-toggler d-xl-none rounded-1">
            <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large text-bg-secondary p-2 rounded-1">
                <i class="ti tabler-menu icon-base"></i>
                <i class="ti tabler-chevron-right icon-base"></i>
            </a>
        </div>

  <script>
    var sidebar_list = [
      {
        'label': 'Extract Tag',
        'icon': "smart-home",
        'sb_child': [
          {
            'label': "Template Tags List",
            'url': "{% url '_Extract_Tag:list_guide' %}"
          },
          {
            'label': 'Data Table',
            'url': "{% url '_Extract_Tag:table_advanced_demo' %}"
          }
        ]
      },
      {
        'label': 'Doc Template Tag',
        'icon': "layout-sidebar",
        'sb_child': [
          {
            'label': 'Template Tags & Filters',
            'url': "{% url 'Research_Doc:research_doc_index' %}"
          }
        ]
      },
      {
        'label': 'Tables',
        'icon': "table",
        'url': "{% url '_Extract_Tag:table_advanced_demo' %}"
      }
    ]

    var html_sidebar = ``;
    
    for (var item of sidebar_list) {

      var html_sub_menu = ``;
      var menu_toggle = 'menu-toggle';
      var open_menu = ''
      var url_item_single = 'javascript:void(0);'

      if (item['sb_child']) {

        for (var submenu of item['sb_child']) {
          var active_item = ''
        
          // Xử lý đóng mở sidebar
          if (submenu['url'] == location.pathname) {
            active_item = 'active'
            open_menu = 'active open'
          }

          html_item_sub_menu = `
          <li class="menu-item ${active_item}">
            <a href="${submenu['url']}" class="menu-link">
              <div data-i18n="${submenu['label']}">${submenu['label']}</div>
            </a>
          </li>`
          html_sub_menu += html_item_sub_menu
        }
      } else {
        menu_toggle = ''
        url_item_single = item['url']
      }

      var html_item_sidebar = `
      <li class="menu-item ${open_menu}">
        <a href=${url_item_single} class="menu-link ${menu_toggle}">
          <i class="menu-icon icon-base ti tabler-${item['icon']}"></i>
          <div data-i18n="${item['label']}">${item['label']}</div>
        </a>
        <ul class="menu-sub">
          ${html_sub_menu}
        </ul>
      </li>
      `
      
      html_sidebar += html_item_sidebar
    } 

    $(html_sidebar).appendTo($("#layout-menu ul.menu-inner"))
  </script>